<div>
    {{value1}} + {{value2}} = {{result}}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>
                Enter the First Value : 
                <input class="form-control" [(ngModel)]="value1" type="number" placeholder="First value"/>
            </p>
            <p>
                Enter the Second Value : 
                <input class="form-control" [(ngModel)]="value2" type="number" placeholder="Second value"/>
            </p>
            <p>
                Select the Choice :
                <select class="form-control" [(ngModel)]="operand">
                    <option>Select One</option>
                    <option>Add</option>
                    <option>Subtract</option>
                    <option>Multiply</option>
                    <option>Divide</option>
                </select>
            </p>
            <p>
                <button class="btn btn-primary" (click)="onClick()">Click Me!!!!</button>
            </p>
            <p>The Result of this Operation: {{result}}</p>
        </div>
    </div>
</div>
