<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SlkDatabase;Integrated Security=True" name="myDbConnection"/>
	</connectionStrings>
	<appSettings>
		<add key="menuFile" value="C:\Trainings\SLK Software\SlkTraining\SampleConApp\Day12\Menu.txt"/>
	</appSettings>
</configuration>